---
layout: default
title: Home
---

{% if page.url == "/" %}

{% endif %}

<!-- Posts Index
================================================== -->
<br class="recent-posts">
    <h6 class="sitetitle" style="text-align:center">
        <p>
            تِلْكَ الدَّارُ الآخِرَةُ نَجْعَلُهَا لِلَّذِينَ لا يُرِيدُونَ عُلُوًّا فِي الأَرْضِ وَلا فَسَادًا
            وَالْعَاقِبَةُ لِلْمُتَّقِينَ
        </p>
        <p>(As for) that future abode, We assign it to those who have no desire to exalt themselves in the earth
            nor to make mischief and the good end is for those who guard (against evil). Quran - Al Qasas (chp 28) - Verse 83</p>
    </h6>

    <br/>
    <br/>
    <br/>
    <div class="section-title">
        <h4><span>Software Architecture</span></h4>
    </div>
    <div class="row listrecent">
        <ul>
            {% for post in paginator.posts %}
            {% if post.tags contains 'architecture' %}
            <li>
                <i><span>{{ post.date | date_to_string }}</span></i>  <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>


    <div class="section-title">
        <h4><span>Linux</span></h4>
    </div>
    <div class="row listrecent">
        <ul>
            {% for post in paginator.posts %}
            {% if post.tags contains 'linux' %}
            <li>
                <i><span>{{ post.date | date_to_string }}</span></i>  <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="section-title">
        <h4><span>Misc</span></h4>
    </div>
    <div class="row listrecent">
        <ul>
            {% for post in paginator.posts %}
            {% assign tagsSize = post.tags | size %}
            {% if tagsSize == 0 %}
            <li>
                <i><span>{{ post.date | date_to_string }}</span></i>  <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
    <div class="pointerup"><i class="fa fa-caret-up"></i></div>
    <span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

